@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600&family=Shippori+Mincho:wght@400;600;800&display=swap');
/* pc */
/* ----------------
  common
  home
  mv
  main
------------------ */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Fira Sans', 'Shippori Mincho', sans-serif, serif;
  color: #fff;
  font-weight: 400;
  line-height: 1.5em;
}
body {
  background-color: #484848;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 28px;
}
p {
  font-size: 20px;
}
span {
  text-align: center;
}
a,
ul,
li {
  text-decoration: none;
  list-style-type: none;
}
/* HOME */
header {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  /* 子要素の高さが親要素になった時に解決  */
  justify-content: space-between;
  box-shadow: 0px 4px 4px #333;
  background-color: #1d1d1d;
}
.header_logo {
  margin: 0 0 0 35px;
}
nav#gnav {
  width: 464px;
  margin: 0 35px 0 0;
}
ul.menu {
  display: flex;
  justify-content: space-between;
}
nav#gnav a p {
  font-size: 16px;
  text-align: center;
}

nav#gnav a span {
  font-size: 14px;
  display: block;
  text-align: center;
  transition: 0.5s;
}
nav#gnav a:hover p,
nav#gnav a:hover span {
  color: #aed32d;
}

div#mv {
  width: 100%;
  height: 980px;
  /* overflow: hidden; */
  margin: 0 0 80px 0;
}

.mv-item {
  background: no-repeat center center;
  background-size: cover;
  height: 980px;
}
.slide-arrow {
  display: inline;
  position: absolute;
  width: 32px;
  height: 32px;
  line-height: 32px;
  background-color: #777;
  border-radius: 50%;
  z-index: 10;
  top: 50%;
  opacity: 0.5;
  margin: 0 20px;
}
.prev-arrow {
  left: 0;
}
.next-arrow {
  right: 0;
}
main#home {
  width: 85%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 60px 0 68px 0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
h2.home,
h2.midashi_second,
h3.subcopy {
  text-align: center;
  margin: 0 0 56px 0;
}
h2.home,
h2.midashi_second {
  font-size: 32px;
  color: #0da536;
  font-weight: bold;
}
h3.subcopy {
  color: #707070;
  font-size: 24px;
}
footer {
  height: 145px;
  text-align: center;
  color: #666;
}
p.txt {
  width: 80%;
  margin: 0 auto;
  font-size: 16px;
  line-height: 27px;
}

p.copy {
  line-height: 145px;
  font-size: 14px;
}

/* 下層ページ共通 */

#second_page {
  width: 85%;
  max-width: 1600px;
  margin: 0 auto;
}
.midashi_second {
  text-align: center;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.gallery li {
  width: 30%;
}
.gallery img {
  width: 100%;
}
p.cap {
  text-align: center;
  margin: 20px 0 100px 0;
}
.gallery_footer {
  margin-top: -30px;
}

nav#gnav .menu .now {
  color: #aed32d;
}

/* pick up */
.pickup_photo {
  width: 100%;
}
.midashi_h3 {
  text-align: center;
  margin: 80px 0 56px 0;
  color: #707070;
  font-size: 24px;
}

/* map */
.gmap {
  width: 100%;
  height: 700px;
}
