@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600&family=Shippori+Mincho:wght@400;600;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 12px;
}
header {
  @apply flex bg-black w-full fixed top-0 h-25 z-10 px-5 sm:px-9 items-center justify-between;
}
p {
  @apply text-base;
}
span {
  @apply text-sm;
}
h1 {
  @apply text-4xl text-center mb-8 lg:mb-10;
}
h2 {
  @apply text-xl text-center mb-6 lg:mb-8;
}

#gnav ul li {
  @apply text-center  mb-10 md:mb-0 px-1;
}
#gnav ul li.now {
  @apply border-b-2 border-green-200;
}
.nav-i-ttl {
  @apply text-2xl md:text-base;
}
.nav-i-sbttl {
  @apply text-xl md:text-sm;
}
.nav-wrapper {
  @apply hidden w-full h-screen fixed top-0 left-0 z-20 md:block md:h-auto md:relative md:max-w-md md:w-6/12 lg:w-2/6 2xl:w-3/12;
}
.nav-line {
  /* @apply w-full bg-green-200 ; */
}
.menu {
  @apply block absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mv-item {
  @apply bg-no-repeat bg-center bg-cover pt-1/2img;
}
.img--3_4 {
  @apply w-full pt-3/4img pt-80 bg-no-repeat bg-center bg-cover;
}
.gallery__item {
  @apply min-w-1/2 md:min-w-1/3 px-3 mb-14;
}
footer p {
  @apply leading-footer text-sm;
}
section {
  @apply m-auto w-full max-w-7xl;
}
section row .rowbox1-1_l,
section row .rowbox1-1_r {
  @apply w-full flex-col flex-1 mb-13 lg:mb-20;
}
section row .rowbox1-1_l {
  @apply px-0 md:pl-20 lg:pl-24 2xl:pl-32;
}
section row .rowbox1-1_r {
  @apply px-0 md:pr-20 lg:pr-24 2xl:pr-32;
}

.burger-btn {
  @apply z-20  block relative;
  width: 32px;
  height: 24px;
}
.bar {
  @apply w-full block absolute left-2/4 bg-white transition-all;
  height: 1px;
  transform: translateX(-50%);
}
.bar_top {
  @apply top-0;
}
.bar_mid {
  @apply top-2/4;
  transform: translate(-50%, -50%);
}
.bar_bottom {
  @apply bottom-0;
}
@media screen(sm) {
  html {
    font-size: 14px;
  }
}
@media screen(md) {
  html {
    font-size: 15px;
  }

  .burger-btn {
    @apply hidden;
  }
  .menu {
    @apply flex relative text-center justify-between left-0 transform-none;
  }
}
@media screen(lg) {
  html {
    font-size: 16px;
  }
}
@media screen(xl) {
  html {
    font-size: 20px;
  }
}

/* ----------------
  common
  home
  mv
  main
------------------ */
* {
  box-sizing: border-box;
  font-weight: 400;
  line-height: 1.5em;
}
body {
  width: 100%;
}

span {
  text-align: center;
}
a,
ul,
li {
  text-decoration: none;
  list-style-type: none;
}
/* HOME */
header {
  box-shadow: 0px 4px 4px #333;
}

nav#gnav a:hover p,
nav#gnav a:hover span {
  color: #7d8368;
}

div#mv {
  width: 100%;
}

.slide-arrow {
  @apply block absolute w-8 h-8 mx-4 bg-gray-300 top-2/4 rounded-2xl opacity-50 hover:bg-white transition-all;
  line-height: 32px;
  z-index: 5;
}
.prev-arrow {
  left: 0;
}
.next-arrow {
  right: 0;
}

p.cap {
  text-align: center;
  margin: 20px 0 100px 0;
}

/* map */
.gmap {
  width: 100%;
  height: 700px;
}
